.contactInfo a:link {
    color: #848484;
    font-size: small;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.date-text {
    color: '#003588';
    text-decoration: underline;
}
