.mantine-Drawer-root {
    opacity: 1;
}
html
    body
    div
    div
    div.mantine-Drawer-root.mantine-bsiqi3
    div.mantine-Paper-root.mantine-Drawer-drawer.mantine-1dndi01 {
    position: relative;
    margin: auto auto auto auto;
    width: 75%;
    background-color: rgba(51, 64, 76, 0.966);
}
html
    body
    div#root
    div
    div.mantine-Grid-root.mantine-1ak6u27
    div.mantine-Col-root.mantine-1hozl0w
    a.mantine-Paper-root.mantine-Card-root.mantine-d8kqtl
    div.mantine-Card-cardSection.mantine-1bcerx7 {
    margin-bottom: -32px;
}

.center-text {
    font-size: 30px;
    color: white;
    padding-bottom: 15px;

    @media only screen and (max-width: 480px) {
        font-size: 25px;
    }
}
html
    body
    div#root
    div
    div.mantine-Grid-root.mantine-1ak6u27
    div.mantine-Col-root.mantine-1hozl0w
    a.mantine-Paper-root.mantine-Card-root.mantine-d8kqtl
    div.mantine-Card-cardSection.mantine-1bcerx7
    figure.imghvr-blur
    figcaption {
    background-color: rgba(26, 25, 25, 0.9490196078);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
