.mantine-Drawer-root {
    opacity: 1;
}
html
    body
    div
    div
    div.mantine-Drawer-root.mantine-bsiqi3
    div.mantine-Paper-root.mantine-Drawer-drawer.mantine-1dndi01 {
    position: relative;
    margin: auto auto auto auto;
    width: 75%;
    background-color: rgba(51, 64, 76, 0.966);
}
