@keyframes panLeft {
    0% {
        opacity: 0;
        left: 60px;
    }
    100% {
        opacity: 1;
        left: 0px;
    }
}

.mantine-Carousel-viewport {
    min-height: 220px;
}

.card .mantine-Paper-root:hover {
    margin: -3px;
    border: 4px solid #0a4eb4;
}

.card .mantine-Paper-root {
    position: relative;
    animation: panLeft 1s;
    animation-iteration-count: 1;
}
